
<% content_for :left_column do %>
	<h1>All Users</h1>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Favorite Language</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |i| %>
			<tr>
				<td> <%= i.first_name %> </td>
				<td> <%= i.last_name %> </td>
				<td> <%= i.favorite_language %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %> 


<% content_for :right_column do %>
	<h1>New Users</h1>
	<form action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<p>First Name</p>
		<input type="text" name="user[first_name]">
		<p>Last Name</p>
		<input type="text" name="user[last_name]">
		<p>Favorite Language</p>
		<input type="text" name="user[favorite_language]">
		<button type="submit">Submit</button>
	</form>
	<form action="/posts" method="get">
		<button type="submit">All Posts</button>
	</form>
<% end %> 

